@charset "UTF-8";
/* =============================================================================
   STYLES
   ========================================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *  http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong,
.main_nav a,
.tw_cert-pg a,
.btn-pri {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *  Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* =============================================================================
   VARIABLES
   ========================================================================== */
/* =============================================================================
   UTILITIES
   ========================================================================== */
/* =============================================================================
   MIXINS
   ========================================================================== */
/* =============================================================================
   UTILITIES
   ========================================================================== */
.is_hidden {
  display: none !important; }

.content:after, .content [class*='size']:after, [class*='center-size']:after, .header:after, .social_wrap:after, .tw_cert-pg:after, .alert:after, [class*='benefit']:after, .clients_list-group:after, .clients_list-group_list:after, .bjqs-markers:after, .un_data-list:after, .tabs_wrap:after, .tabs_list:after, .feature_wrap:after, .contact_wrap:after,
.group:after {
  content: " ";
  display: table;
  clear: both; }

strong,
.main_nav a,
.tw_cert-pg a,
.btn-pri {
  font-weight: bold; }

.content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1, [class*='center-size'] h2, [class*='center-size'] h3, [class*='center-size'] .intro, .footer, .social_wrap, .tw_cert-pg, .page_header, .page_title, .page_subtitle, .alert, .cta-wrap, .menu_overlay a, .bjqs-markers, .un_data-list, [class^='un_data_li-'], .bio, .advisors_list, .tabs_list a, .feature_wrap, .contact_wrap, .contact_med,
.t-center {
  text-align: center; }

.section, .content, [class*='center-size'], .page_header, .page_title, .page_subtitle, .tabs_wrap, .tabs_list {
  position: relative; }

.fix-it {
  position: fixed !important; }

.tabs_list > li {
  float: left; }

.menu_overlay a, .menu_overlay span {
  display: block; }

.main_nav a, .btn-pri, .tabs_list a {
  display: inline-block; }

.push_btm-4 {
  margin-bottom: 40px; }

.push_btm-6 {
  margin-bottom: 60px; }

.push_btm-8 {
  margin-bottom: 80px; }

.push_btm-10 {
  margin-bottom: 100px; }

/* =============================================================================
   BASE
   ========================================================================== */
html, body {
  background: #f3f5f6;
  height: 100%; }

html {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "libertad", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.7;
  color: #8a8cae;
  -webkit-font-smoothing: antialiased; }

.sep {
  border: 1px solid #d8d9e5;
  border-width: 1px 0 0;
  width: 100%; }
  .sep.w-space {
    margin-bottom: 100px; }
  .sep.light {
    border-color: #f3f5f6; }

.numbered-list {
  list-style: decimal outside; }

.bullet-list {
  list-style: circle outside; }

/* =============================================================================
   TYPOGRAPHY
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202759;
  font-weight: normal; }
  a h1, a
  h2, a
  h3, a
  h4, a
  h5, a
  h6 {
    color: #4c58f4; }

h1,
h2 {
  font-family: "Exo2", "libertad", "Helvetica Neue", Arial, sans-serif; }

h1 {
  font-size: 72px;
  font-size: 7.2rem;
  font-weight: 200;
  line-height: 1.1;
  margin-bottom: 40px; }

h2 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 20px; }

h3 {
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 15px; }

h4 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.5; }

h5 {
  font-size: 18px;
  font-size: 1.8rem;
  margin-bottom: 15px; }

h6 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 10px; }

p {
  margin: 0 0 20px; }

a {
  color: #4c58f4;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

ul, ol {
  list-style: none;
  padding: 0; }
  ul li, ol li {
    margin-bottom: 20px; }

.bullet_list {
  list-style: decimal inside; }

/* Heading inside sections  */
.section h2 {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Exo2", "libertad", "Helvetica Neue", Arial, sans-serif;
  font-weight: 200;
  letter-spacing: -1;
  color: #ff4e5a; }
  @media only screen and (min-width: 47em) {
    .section h2 {
      font-size: 36px;
      font-size: 3.6rem; } }
  @media only screen and (min-width: 75em) {
    .section h2 {
      font-size: 42px;
      font-size: 4.2rem; } }

@media only screen and (min-width: 75em) {
  .break-line {
    display: block; } }

/* Intro para */
.intro {
  font-size: 21px;
  font-size: 2.1rem;
  color: #202759;
  font-weight: 200;
  line-height: 1.5;
  margin: 40px 0; }
  .intro + .intro {
    margin: -30px 0 0; }
  @media only screen and (min-width: 47em) {
    .intro {
      font-size: 24px;
      font-size: 2.4rem; } }

/* =============================================================================
   LIBERTAD
   ========================================================================== */
@font-face {
  font-family: 'libertad';
  src: url(../fonts/libertad/libertad-webfont.eot);
  src: url(../fonts/libertad/libertad-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/libertad/libertad-webfont.woff) format("woff"), url(../fonts/libertad/libertad-webfont.ttf) format("truetype"), url(../fonts/libertad/libertad-webfont.svg#libertadregular) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'libertad';
  src: url(../fonts/libertad/libertad-italic-webfont.eot);
  src: url(../fonts/libertad/libertad-italic-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/libertad/libertad-italic-webfont.woff) format("woff"), url(../fonts/libertad/libertad-italic-webfont.ttf) format("truetype"), url(../fonts/libertad/libertad-italic-webfont.svg#libertaditalic) format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'libertad';
  src: url(../fonts/libertad/libertad-bold-webfont.eot);
  src: url(../fonts/libertad/libertad-bold-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/libertad/libertad-bold-webfont.woff) format("woff"), url(../fonts/libertad/libertad-bold-webfont.ttf) format("truetype"), url(../fonts/libertad/libertad-bold-webfont.svg#libertadbold) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'libertad';
  src: url(../fonts/libertad/libertad-light-webfont.eot);
  src: url(../fonts/libertad/libertad-light-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/libertad/libertad-light-webfont.woff) format("woff"), url(../fonts/libertad/libertad-light-webfont.ttf) format("truetype"), url(../fonts/libertad/libertad-light-webfont.svg#libertadlight) format("svg");
  font-weight: 200;
  font-style: normal; }

/* =============================================================================
   EXO 2
   ========================================================================== */
@font-face {
  font-family: 'Exo2';
  src: url(../fonts/exo2/Exo2.eot);
  src: url(../fonts/exo2/Exo2.eot?#iefix) format("embedded-opentype"), url(../fonts/exo2/Exo2.woff) format("woff"), url(../fonts/exo2/Exo2.ttf) format("truetype"), url(../fonts/exo2/Exo2.svg#exo_2.0extra_light) format("svg");
  font-weight: 200;
  font-style: normal; }

/* =============================================================================
   LAYOUT
   ========================================================================== */
.content {
  height: 100%;
  max-width: 100%;
  margin: 0 auto; }
  @media only screen and (min-width: 47em) {
    .content {
      width: 750px; } }
  @media only screen and (min-width: 75em) {
    .content {
      width: 1200px; } }

.section {
  display: block;
  clear: both;
  vertical-align: top; }

.content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 80px 20px; }
  .content:after {
    content: "";
    display: table;
    clear: both; }
  .content.w-pad {
    padding-left: 40px;
    padding-right: 40px; }
  .content.no-s_pad {
    padding-bottom: 0; }
  @media only screen and (min-width: 47em) {
    .content {
      max-width: 100%;
      padding: 80px; } }
  @media only screen and (min-width: 75em) {
    .content {
      padding: 120px 0; }
      .content.w-pad {
        padding-left: 100px;
        padding-right: 100px; } }

@media only screen and (min-width: 75em) {
  [class*='size1of1'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 100%; }
    [class*='size1of1']:last-child {
      margin-right: 0; }

  [class*='size3of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 19.27233%; }
    [class*='size3of12']:last-child {
      margin-right: 0; }

  [class*='size4of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 28.24207%; }
    [class*='size4of12']:last-child {
      margin-right: 0; }

  [class*='size5of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 37.21182%; }
    [class*='size5of12']:last-child {
      margin-right: 0; }

  [class*='size6of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 46.18156%; }
    [class*='size6of12']:last-child {
      margin-right: 0; }

  [class*='size7of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 55.1513%; }
    [class*='size7of12']:last-child {
      margin-right: 0; }

  [class*='size8of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 64.12104%; }
    [class*='size8of12']:last-child {
      margin-right: 0; }

  [class*='size9of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 73.09078%; }
    [class*='size9of12']:last-child {
      margin-right: 0; }

  [class*='size10of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 82.06052%; }
    [class*='size10of12']:last-child {
      margin-right: 0; }

  [class*='size11of12'] {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 91.03026%; }
    [class*='size11of12']:last-child {
      margin-right: 0; }

  .center-size4of12 {
    margin-left: 35.87896%; }

  .center-size5of12 {
    margin-left: 30%; }

  .center-size6of12 {
    margin-left: 26.90922%; }

  .center-size7of12 {
    margin-left: 22.5%; }

  .center-size8of12 {
    margin-left: 17.93948%; }

  .center-size9of12 {
    margin-left: 12.5%; }

  .center-size10of12 {
    margin-left: 9%; }

  .center-size11of12 {
    margin-left: 4%; }

  .right-size6of12 {
    margin-left: 53.81844%; }

  .two-columns {
    text-align: left !important;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 80px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 80px;
    /* Firefox */
    column-gap: 80px; }
    .two-columns p {
      margin-bottom: 0; }
      .two-columns p + p {
        text-indent: 40px; } }
[class*='center-size'] h3 {
  margin-bottom: 40px; }

/* =============================================================================
   LAYOUT
   ========================================================================== */
.land_pg {
  padding-top: 100px; }
  .land_pg .intro {
    margin-bottom: 0; }

.content-wrap {
  padding-bottom: 40px; }

/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  width: 100%;
  position: absolute;
  z-index: 9;
  height: 84px; }

.un_logo-wrap {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 140px;
  height: 42px; }

.un_logo,
.un_logo-center {
  font-size: 16px;
  font-size: 1.6rem;
  overflow: hidden;
  width: 140px;
  height: 42px;
  -webkit-transition: opacity, 0.3s;
  -moz-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
  position: relative;
  display: block;
  background: url(../i/logo_unmetric.png) no-repeat 14px 12px;
  background-size: 112px 17px; }
  .un_logo:before,
  .un_logo-center:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    .un_logo,
    .un_logo-center {
      /* on retina, use image that's scaled by 2 */
      background-image: url(../i/logo_unmetric@2x.png);
      background-size: 112px 17px; } }

.un_logo-center {
  left: 50%;
  top: -20px;
  margin-left: -58px;
  background: url(../i/logo_unmetric_bl.png) no-repeat;
  opacity: 1; }

.main_nav-wrap {
  float: right; }

.main_nav {
  margin: 20px; }
  .main_nav a {
    display: none;
    font-size: 15px;
    font-size: 1.5rem;
    color: #8a8cae;
    letter-spacing: 1px;
    padding: 7px 15px 8px;
    text-transform: uppercase; }
    .main_nav a:hover {
      text-decoration: none; }
  .main_nav .menu_link {
    -webkit-transition: background, 0.5s;
    -moz-transition: background, 0.5s;
    transition: background, 0.5s;
    display: block;
    background: url(../i/icons/icon-sprite.png) no-repeat 65px 12px;
    padding-right: 30px; }
    .main_nav .menu_link.is_active {
      background-position: 65px -23px; }
  @media only screen and (min-width: 47em) {
    .main_nav > li {
      display: inline-block; }
    .main_nav a {
      display: block; }
      .main_nav a:hover {
        text-decoration: none; }
    .main_nav .signup_link {
      color: white; } }

/* =============================================================================
   FOOTER
   ========================================================================== */
.footer {
  background-color: #f3f5f6;
  border-top: 1px solid #d8d9e5; }
  .footer > .content {
    border: 0;
    background-color: transparent; }
  .signup_pg .footer, .contact_pg .footer {
    border: 0; }

.footer_links {
  margin-top: 20px;
  line-height: 2; }
  .footer_links a {
    font-size: 16px;
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 10px; }
  @media only screen and (min-width: 75em) {
    .footer_links {
      font-size: 18px;
      font-size: 1.8rem; } }

.social_wrap {
  margin-top: 60px; }

.social_list > li {
  display: inline-block; }

[class^='social_link-'] {
  overflow: hidden;
  -webkit-transition: opacity, 0.3s;
  -moz-transition: opacity, 0.3s;
  transition: opacity, 0.3s;
  width: 50px;
  height: 50px;
  display: inline-block;
  background-repeat: no-repeat;
  opacity: .25;
  margin: 0 5px; }
  [class^='social_link-']:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }
  [class^='social_link-']:hover {
    opacity: 1; }

.social_link-fb {
  background-image: url(../i/icons/fb-icon.png); }

.social_link-tw {
  background-image: url(../i/icons/tw-icon.png); }

.social_link-pt {
  background-image: url(../i/icons/pt-icon.png); }

.social_link-in {
  background-image: url(../i/icons/in-icon.png); }

.social_link-ss {
  background-image: url(../i/icons/ss-icon.png); }

.tw_cert-pg {
  background-color: #202759;
  padding: 40px; 
  margin-bottom: -30px;}
  .tw_cert-pg a {
    display: block;
    color: #8a8cae; }
  .tw_cert-pg img {
    width: 120px; }

.tw_cert-desc {
  font-size: 11px;
  font-size: 1.1rem;
  margin-bottom: 0; }

/* =============================================================================
   Page Header
   ========================================================================== */
.page_header {
  height: 100%;
  background: #302782; }
  .page_header > .content {
    background-color: transparent; }
  .page_header.contact_header {
    height: 300px;
    background-image: none; }
    .page_header.contact_header .scroll {
      display: none; }
  .privacy_pg .page_header {
    height: 300px;
    background-image: none; }
  .page_header .scroll {
    display: none; }
  @media only screen and (min-width: 47em) {
    .page_header {
      background: #302782 url(../i/bg/home_bg.png) no-repeat center bottom; }
      .page_header.company_header {
        background-image: url(../i/bg/company_bg.png); }
      .page_header.product_header {
        background-image: url(../i/bg/product_bg.png); }
      .page_header .scroll {
        display: block;
        overflow: hidden;
        width: 36px;
        height: 19px;
        background: url(../i/icons/arrow_down.png) no-repeat;
        position: absolute;
        left: 50%;
        margin-left: -15px;
        bottom: 40px; }
        .page_header .scroll:before {
          content: "";
          display: block;
          width: 0;
          height: 100%; } }
  @media only screen and (min-width: 75em) {
    .page_header > .content {
      width: 1200px;
      left: 50%;
      margin: 0 0 0 -600px;
      background-color: transparent; } }

/* Page Title  */
.page_title {
  font-size: 24px;
  font-size: 2.4rem;
  top: 50%;
  max-width: 480px;
  margin: -100px auto 0;
  display: block;
  color: white; }
  .page_title a {
    color: #ff4e5a;
    border-bottom: 1px solid; }
    .page_title a:hover {
      text-decoration: none; }
  .product_header .page_title {
    margin-top: -40px; }
  .company_header .page_title {
    margin-top: -20px; }
  .contact_header .page_title {
    margin-top: -20px; }
  @media only screen and (min-width: 47em) {
    .page_title {
      font-size: 36px;
      font-size: 3.6rem; } }
  @media only screen and (min-width: 75em) {
    .page_title {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 1200px;
      margin: -100px 0 0 -300px;
      font-size: 56px;
      font-size: 5.6rem;
      letter-spacing: -2px; }
      .home_header .page_title {
        margin-top: -100px; }
      .product_header .page_title {
        margin-top: -80px; }
      .company_header .page_title {
        margin-top: -100px; }
      .contact_header .page_title {
        margin-top: -20px; }
      .privacy_pg .page_title {
        margin-top: -20px; } }

/* Page Subtitle  */
.page_subtitle {
  font-size: 16px;
  font-size: 1.6rem;
  top: 50%;
  max-width: 500px;
  font-family: "libertad", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #8a8cae;
  margin: 20px auto; }
  @media only screen and (min-width: 47em) {
    .page_subtitle {
      font-size: 21px;
      font-size: 2.1rem;
      font-weight: 200; } }
  @media only screen and (min-width: 75em) {
    .page_subtitle {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 24px;
      font-size: 2.4rem;
      max-width: 1200px;
      margin: 60px 0 0 -300px; } }

/* =============================================================================
   STAGE SECTION – The section just below page header
   ========================================================================== */
.stage-sec h1 {
  margin: -20px 0 40px; }
  .stage-sec h1 + h2 {
    font-family: "libertad", "Helvetica Neue", Arial, sans-serif; }

/* =============================================================================
   BUTTONS
   ========================================================================== */
.btn-pri {
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s;
  font-size: 21px;
  font-size: 2.1rem;
  color: white;
  background-color: #ff4e5a;
  border-radius: 50px;
  padding: 15px 40px;
  margin-bottom: 40px; }
  .btn-pri:hover {
    background-color: #ff1b2a;
    text-decoration: none; }
  @media only screen and (min-width: 47em) {
    .btn-pri {
      padding: 15px 80px; } }

[class*='form-wrap'] button {
  border: none;
  width: 100%;
  margin: 20px 0; }

/* =============================================================================
   FORMS
   ========================================================================== */
.label-optional {
  display: none; }

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
textarea,
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "libertad", "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  margin-bottom: 1.5em;
  padding: .75em 1em; }

input[type="checkbox"] + label {
  margin-left: 3px; }
input[type="submit"] {
  margin-top: 0; }
  input[type="submit"]:focus {
    outline: 0; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c6c7d8; }
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c6c7d8;
  opacity: 1; }
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c6c7d8;
  opacity: 1; }
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c6c7d8; }

button {
  font-family: "libertad", "Helvetica Neue", Arial, sans-serif; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
textarea,
.select-wrap {
  border-radius: 40px;
  border: 1px solid #d8d9e5; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  textarea:focus,
  .select-wrap:focus {
    outline: 0;
    border-color: #202759;
    box-shadow: 0 0 7px #e6e6e6; }

.select-wrap {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  margin-bottom: 1.5em;
  background: url(../i/arrow-dropdown.png) no-repeat 300px center; }
  .select-wrap select {
    margin: 0;
    border: 0;
    padding: .75em 0 .75em 1.5em;
    background: transparent;
    cursor: pointer;
    color: #c6c7d8;
    -webkit-appearance: none;
    width: 300px; }
    .select-wrap select:focus {
      outline: 0; }
  .select-wrap.is_shown, .select-wrap.is_active {
    border-color: #202759;
    box-shadow: 0 0 7px #e6e6e6; }
    .select-wrap.is_shown select, .select-wrap.is_active select {
      color: #202759; }
  .select-wrap .input-tip {
    bottom: 44px;
    left: -1px; }
  .select-wrap:after {
    content: "";
    display: block;
    background-color: white;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 0px;
    right: -45px; }
  @media only screen and (min-width: 47em) {
    .select-wrap {
      background-position: 300px center; }
      .select-wrap select {
        width: 480px; } }
  @media only screen and (min-width: 47em) {
    .select-wrap {
      background-position: 400px center; } }

.has_error::-webkit-input-placeholder {
  color: #da4f49; }
.has_error::-moz-placeholder {
  color: #da4f49; }
.has_error:-moz-placeholder {
  color: #da4f49; }
.has_error:-ms-input-placeholder {
  color: #da4f49; }

.input-wrap {
  position: relative; }

.input-tip {
  font-size: 12px;
  font-size: 1.2rem;
  position: absolute;
  bottom: 69px;
  left: 0px;
  text-align: left;
  line-height: 1.4;
  z-index: 1;
  display: none;
  padding: 5px 15px 6px;
  background-color: #868686;
  color: white;
  text-align: left; }
  .is_shown .input-tip {
    display: inline-block; }
  .input-tip:before {
    position: absolute;
    bottom: -11px;
    left: 0px;
    z-index: 2;
    content: ""; }

@media only screen and (min-width: 75em) {
  .signin-form input {
    margin: 0 0 -1px 0;
    padding: 15px;
    text-align: center;
    position: relative; }
    .signin-form input:focus {
      z-index: 2; }
    .signin-form input[type='email'] {
      border-radius: 5px 5px 0 0; }
    .signin-form input[type='password'] {
      border-radius: 0; }
    .signin-form input[type='submit'] {
      margin: 0 0 20px;
      border-radius: 0 0 5px 5px; }
    .signin-form input[type='checkbox'] {
      padding: 0; }

  .cb-input-wrap, .forgot-link {
    font-size: 13px;
    font-size: 1.3rem;
    float: left; }

  .forgot-link {
    float: right; } }
.comment-form {
  padding: 2em 0;
  text-align: center; }
  @media only screen and (max-width: 47em) {
    .comment-form {
      padding: 2em; } }

.contact_form-wrap form,
.signup_form-wrap form {
  max-width: 440px;
  margin: 0 5%; }
  @media only screen and (min-width: 47em) {
    .contact_form-wrap form,
    .signup_form-wrap form {
      margin: 0 10%; } }
  @media only screen and (min-width: 75em) {
    .contact_form-wrap form,
    .signup_form-wrap form {
      float: left;
      display: block;
      margin-right: 7.63689%;
      width: 37.21182%;
      margin-left: 31.39409%; }
      .contact_form-wrap form:last-child,
      .signup_form-wrap form:last-child {
        margin-right: 0; } }

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(3em + 2px);
  height: calc(3em + 2px);
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #d8d9e5;
  border-radius: 1.5em;
  background: white;
  resize: none;
  outline: none; }
  input[type="text"][required] + label[placeholder],
  input[type="email"][required] + label[placeholder],
  input[type="tel"][required] + label[placeholder],
  select[required] + label[placeholder],
  textarea[required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 1em;
    margin-top: -webkit-calc(-3em - 2px);
    margin-top: calc(-3em - 2px);
    margin-bottom: -webkit-calc((3em - 1em) + 2px);
    margin-bottom: calc((3em - 1em) + 2px); }
    input[type="text"][required] + label[placeholder]:before,
    input[type="email"][required] + label[placeholder]:before,
    input[type="tel"][required] + label[placeholder]:before,
    select[required] + label[placeholder]:before,
    textarea[required] + label[placeholder]:before {
      content: attr(placeholder);
      display: inline-block;
      margin: 0 -webkit-calc(1em + 2px);
      margin: 0 calc(1em + 2px);
      padding: 0 5px;
      color: #c6c7d8;
      white-space: nowrap;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
      background-image: -webkit-linear-gradient(top, white, white);
      background-image: linear, to bottom, white, white;
      -webkit-background-size: 100% 5px;
      background-size: 100% 5px;
      background-repeat: no-repeat;
      background-position: center; }
  input[type="text"][required]:focus, input[type="text"][required]:valid, input[type="text"][required].is_invalid,
  input[type="email"][required]:focus,
  input[type="email"][required]:valid,
  input[type="email"][required].is_invalid,
  input[type="tel"][required]:focus,
  input[type="tel"][required]:valid,
  input[type="tel"][required].is_invalid,
  select[required]:focus,
  select[required]:valid,
  select[required].is_invalid,
  textarea[required]:focus,
  textarea[required]:valid,
  textarea[required].is_invalid {
    border-color: #202759; }
    input[type="text"][required]:focus + label[placeholder]:before, input[type="text"][required]:valid + label[placeholder]:before, input[type="text"][required].is_invalid + label[placeholder]:before,
    input[type="email"][required]:focus + label[placeholder]:before,
    input[type="email"][required]:valid + label[placeholder]:before,
    input[type="email"][required].is_invalid + label[placeholder]:before,
    input[type="tel"][required]:focus + label[placeholder]:before,
    input[type="tel"][required]:valid + label[placeholder]:before,
    input[type="tel"][required].is_invalid + label[placeholder]:before,
    select[required]:focus + label[placeholder]:before,
    select[required]:valid + label[placeholder]:before,
    select[required].is_invalid + label[placeholder]:before,
    textarea[required]:focus + label[placeholder]:before,
    textarea[required]:valid + label[placeholder]:before,
    textarea[required].is_invalid + label[placeholder]:before {
      color: #4c58f4;
      -webkit-transition-duration: .2s;
      transition-duration: .2s;
      -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
      -ms-transform: translate(0, -1.5em) scale(0.9, 0.9);
      transform: translate(0, -1.5em) scale(0.9, 0.9); }
  input[type="text"][required]:invalid + label[placeholder][alt]:before,
  input[type="email"][required]:invalid + label[placeholder][alt]:before,
  input[type="tel"][required]:invalid + label[placeholder][alt]:before,
  select[required]:invalid + label[placeholder][alt]:before,
  textarea[required]:invalid + label[placeholder][alt]:before {
    content: attr(alt);
    position: relative; }

textarea:focus, textarea:valid, textarea.is_invalid {
  height: 100px; }
  textarea:focus + label, textarea:valid + label, textarea.is_invalid + label {
    -webkit-transform: translate(0, -2.5em) scale(1, 1);
    -ms-transform: translate(0, -2.5em) scale(1, 1);
    transform: translate(0, -2.5em) scale(1, 1); }

select + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 1em;
  margin-top: -webkit-calc(-2em);
  margin-top: calc(-2em);
  margin-bottom: -webkit-calc((2em - 1em) + 2px);
  margin-bottom: calc((2em - 1em) + 2px); }
  select + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 -webkit-calc(1em + 2px);
    margin: 0 calc(1em + 2px);
    padding: 0 5px;
    color: #c6c7d8;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
    background-image: -webkit-linear-gradient(top, white, white);
    background-image: linear, to bottom, white, white;
    -webkit-background-size: 100% 5px;
    background-size: 100% 5px;
    background-repeat: no-repeat;
    background-position: center; }

.is_active select + label[placeholder]:before,
.is_shown select + label[placeholder]:before {
  color: #4c58f4;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate(0, -1.65em) scale(0.9, 0.9);
  -ms-transform: translate(0, -1.65em) scale(0.9, 0.9);
  transform: translate(0, -1.65em) scale(0.9, 0.9); }

.is_active select + label[placeholder][alt]:before {
  content: attr(alt); }

/* =============================================================================
   ALERTS
   ========================================================================== */
.alert {
  font-size: 16px;
  font-size: 1.6rem;
  padding: 16px 35px;
  background-color: #fcf8e3;
  border: 1px solid #f2e187;
  box-shadow: 0 0 0 2px white inset;
  color: #9c8611;
  border-radius: 30px;
  clear: both;
  margin: 20px 10px; }
  @media only screen and (min-width: 47em) {
    .alert {
      margin: 40px; } }
  @media only screen and (min-width: 75em) {
    .alert {
      margin-left: 100px;
      margin-right: 100px; } }

.alert-success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834; }

.alert-warning {
  background-color: #fee7c7;
  border-color: #fcd296;
  color: #c17305; }

.alert-error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49; }

.alert-inverse {
  background-color: #414141;
  border-color: black;
  color: white; }

/* =============================================================================
   CALL-TO-ACTION WRAP
   ========================================================================== */
.cta-wrap {
  padding: 60px 40px; }
  .cta-wrap > h4 {
    font-size: 21px;
    font-size: 2.1rem;
    font-weight: normal;
    margin-bottom: 30px; }
  .cta-wrap > .btn-pri {
    font-size: 16px;
    font-size: 1.6rem;
    margin-bottom: 0; }
  .section .cta-wrap {
    float: left;
    display: block;
    margin-right: 7.63689%;
    width: 100%;
    border-top: 1px solid #d8d9e5;
    padding: 60px 0 0;
    margin-top: 60px; }
    .section .cta-wrap:last-child {
      margin-right: 0; }
  @media only screen and (min-width: 75em) {
    .cta-wrap {
      width: 1200px;
      margin: 0 auto;
      padding: 100px; }
      .cta-wrap > h4 {
        font-size: 24px;
        font-size: 2.4rem; }
      .cta-wrap > .btn-pri {
        font-size: 18px;
        font-size: 1.8rem; }
      .section .cta-wrap {
        float: left;
        display: block;
        margin-right: 7.63689%;
        width: 100%;
        padding: 80px 200px 0;
        margin-top: 100px; }
        .section .cta-wrap:last-child {
          margin-right: 0; } }

/* =============================================================================
   OVERLAYS
   ========================================================================== */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  margin-top: 84px;
  height: 100%;
  background: #f3f5f6;
  width: 100%;
  overflow-y: scroll;
  z-index: 900; }

.menu_overlay {
  opacity: 0;
  padding: 40px 0;
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
  transform: translate(0, -150%);
  -webkit-transition: -webkit-transform .5s, opacity 0 .6s;
  -moz-transition: -moz-transform .5s, opacity 0 .6s;
  -o-transition: -o-transform .5s, opacity 0 .6s;
  transition: transform .5s, opacity 0 .6s; }
  .menu_overlay a {
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    transition: all, 0.3s;
    font-size: 36px;
    font-size: 3.6rem;
    font-family: "Exo2", "libertad", "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
    color: #202759;
    padding: 20px; }
    .menu_overlay a:hover {
      text-decoration: none;
      color: #4c58f4; }
  .menu_overlay span {
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #8a8cae;
    font-family: "libertad", "Helvetica Neue", Arial, sans-serif; }
  .menu_overlay.is_visible {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .5s, opacity 0;
    -moz-transition: -moz-transform .5s, opacity 0;
    -o-transition: -o-transform .5s, opacity 0;
    transition: transform .5s, opacity 0; }
  .menu_overlay [class^='social_link-'] {
    opacity: 1;
    margin-bottom: 100px; }
  @media only screen and (min-width: 47em) {
    .menu_overlay {
      padding: 100px; }
      .menu_overlay a {
        font-size: 48px;
        font-size: 4.8rem; }
      .menu_overlay span {
        font-size: 14px;
        font-size: 1.4rem;
        letter-spacing: 2px; } }

/* =============================================================================
   HOMEPAGE
   ========================================================================== */
.statement_wrap {
  display: none; }
  .statement_wrap > .content {
    padding: 220px 120px 180px 640px; }
  @media only screen and (min-width: 75em) {
    .statement_wrap {
      display: block; } }

.statement_wrap-1 > .content {
  background: #f3f5f6 url(../i/bg/lady.png) no-repeat 720px 40px;
  padding: 200px 520px 180px 100px; }

.statement_wrap-2 > .content {
  background: #f3f5f6 url(../i/bg/guy.png) no-repeat 100px 40px; }

.statement {
  font-size: 36px;
  font-size: 3.6rem;
  font-weight: 200;
  line-height: 1.4;
  color: #202759; }

[class*='benefit'] {
  padding: 100px 0 0;
  background-position: center 40px;
  background-repeat: no-repeat; }
  [class*='benefit'] > h3 {
    text-align: center; }
  @media only screen and (min-width: 75em) {
    [class*='benefit'] {
      float: left;
      display: block;
      margin-right: 7.63689%;
      width: 82.06052%;
      padding: 40px 0 0 400px; }
      [class*='benefit']:last-child {
        margin-right: 0; }
      [class*='benefit'] > h3 {
        text-align: left; } }

.benefit-1 {
  background-image: url(../i/bg/b-matt.png); }
  @media only screen and (min-width: 75em) {
    .benefit-1 {
      background-position: 325px 40px; } }

.benefit-2 {
  background-image: url(../i/bg/b-algo.png); }
  @media only screen and (min-width: 75em) {
    .benefit-2 {
      background-position: 320px 40px; } }

.benefit-3 {
  background-image: url(../i/bg/b-sol.png); }
  @media only screen and (min-width: 75em) {
    .benefit-3 {
      background-position: 320px 40px; } }

.benefit-4 {
  background-image: url(../i/bg/b-inno.png);
  margin-bottom: 0; }
  @media only screen and (min-width: 75em) {
    .benefit-4 {
      background-position: 320px 35px; } }

.inside_un {
  background: url(../i/bg/inside.png) no-repeat center 140px; }
  .inside_un h3 {
    margin-top: 80px; }
  @media only screen and (min-width: 47em) {
    .inside_un {
      background-position: center 150px; } }
  @media only screen and (min-width: 75em) {
    .inside_un {
      background-position: center 200px; } }

.clients_list {
  overflow: hidden; }

.clients_list-group_list {
  margin: 0 -40px; }
  @media only screen and (min-width: 75em) {
    .clients_list-group_list {
      float: left;
      width: 540px;
      margin: 40px 0px 0; } }

.clients_list {
  margin: 0 auto;
  text-align: center; }
  .clients_list > li {
    display: inline; }
  .clients_list img {
    width: 200px;
    margin-top: 20px; }
    @media only screen and (min-width: 75em) {
      .clients_list img {
        margin: 10px 0 0 10px; } }

.bjqs-prev a, .bjqs-next a {
  position: absolute;
  top: 20px;
  width: 48px;
  height: 110px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: transparent;
  text-shadow: none;
  background: url(../i/ic-carets.png) no-repeat 0 center;
  cursor: pointer;
  opacity: .15;
  z-index: 9; }
  .bjqs-prev a:before, .bjqs-next a:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

.bjqs-prev a:hover, .bjqs-next a:hover {
  opacity: 1; }

.bjqs-prev a {
  left: -25px;
  background-position: 18px 60px; }

.bjqs-next a {
  right: -25px;
  background-position: -72px 60px; }

.bjqs-markers {
  margin: 60px; }
  .bjqs-markers > li {
    display: inline-block;
    margin: 0 5px; }
  .bjqs-markers a {
    width: 12px;
    height: 12px;
    border-radius: 12px;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #202759;
    background: white;
    color: white; }
  .bjqs-markers .active-marker a {
    background: #202759;
    color: #202759; }

/* =============================================================================
   COMPANY
   ========================================================================== */
.ambition-sec > .content {
  background: transparent; }

.inspiration-sec h2,
.inspiration-sec p {
  text-align: center; }
@media only screen and (min-width: 75em) {
  .inspiration-sec > .content {
    background: white url(../i/bg/inspiration_bg.png) no-repeat 80px 150px; }
    .inspiration-sec > .content h2,
    .inspiration-sec > .content p {
      text-align: left; } }

.inspiration-sec > .content,
.data_comp-sec > .content,
.bio-sec > .content {
  border-bottom: 1px solid #d8d9e5; }

.un_data-list {
  position: relative;
  min-height: 720px; }

[class^='un_data_li-'] {
  display: inline-block;
  width: 195px;
  margin: 0 40px;
  min-height: 330px;
  vertical-align: top; }
  [class^='un_data_li-'] > h4 {
    font-size: 14px;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff4e5a; }
  [class^='un_data_li-'] > p {
    font-size: 14px;
    font-size: 1.4rem;
    font-style: italic; }
  [class^='un_data_li-'] > img {
    width: 140px;
    margin-bottom: 10px; }
  @media only screen and (min-width: 75em) {
    [class^='un_data_li-'] {
      position: absolute;
      margin: 0; } }

@media only screen and (min-width: 75em) {
  .un_data_li-sea {
    left: 0px;
    top: 300px; }

  .un_data_li-edu {
    left: 210px;
    top: 500px; }

  .un_data_li-trans {
    left: 420px;
    top: 300px; }

  .un_data_li-pie {
    left: 620px;
    top: 500px; }

  .un_data_li-soc {
    left: 820px;
    top: 300px; } }
.bio {
  margin-top: 60px; }
  .bio > img {
    width: 100px;
    border-radius: 100px;
    margin-bottom: 10px; }
  .bio > h3 {
    font-size: 24px;
    font-size: 2.4rem;
    margin-bottom: 5px;
    font-weight: 200; }
  .bio > h4 {
    font-size: 14px;
    font-size: 1.4rem;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .bio > p {
    font-size: 16px;
    font-size: 1.6rem; }
  @media only screen and (min-width: 75em) {
    .bio {
      float: left;
      display: block;
      margin-right: 7.63689%;
      width: 28.24207%; }
      .bio:last-child {
        margin-right: 0; }
      .bio:nth-child(4n) {
        margin-right: 0; }
      .bio:nth-child(4n+1) {
        clear: left; } }

.advisors_list > li {
  display: inline-block;
  margin: 0px 30px 30px; }
.advisors_list h4 {
  font-size: 16px;
  font-size: 1.6rem;
  color: #202759;
  font-weight: normal; }
.advisors_list img {
  border-radius: 100px; }

/* =============================================================================
   PRODUCT
   ========================================================================== */
.big_data-sec {
  padding: 10px; }
  .big_data-sec > .content {
    background: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px; }
  @media only screen and (min-width: 47em) {
    .big_data-sec {
      padding-left: 100px;
      padding-right: 100px;
      padding-bottom: 100px; } }

.tabs_wrap {
  z-index: 99;
  margin-left: 40px; }
  @media only screen and (min-width: 47em) {
    .tabs_wrap {
      margin-left: 90px; } }
  @media only screen and (min-width: 75em) {
    .tabs_wrap {
      margin-left: 395px; } }

.tabs_list {
  margin: 0; }
  .tabs_list a {
    font-size: 16px;
    font-size: 1.6rem;
    border: 1px solid #202759;
    background: white;
    padding: 10px 0;
    width: 100px;
    margin-right: -5px;
    color: #202759; }
    .tabs_list a.is_active, .tabs_list a.is_active:hover {
      z-index: 9;
      cursor: default;
      background: #202759;
      color: white; }
    .tabs_list a:hover {
      color: #4c58f4;
      text-decoration: none; }
  @media only screen and (min-width: 47em) {
    .tabs_list a {
      font-size: 18px;
      font-size: 1.8rem;
      width: 140px; } }

.channel-sec,
.content-sec,
.campaign-sec {
  clear: both;
  background: url(../i/icons/channel-icon.png) no-repeat center 100px;
  padding: 200px 0 0;
  border-bottom: 1px solid #d8d9e5; }

.content-sec {
  background-image: url(../i/icons/content-icon.png); }

.campaign-sec {
  background-image: url(../i/icons/campaign-icon.png);
  border-bottom: 0;
  padding-bottom: 0; }

.feature_wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0; }
  .feature_wrap:after {
    content: "";
    display: table;
    clear: both; }
  .feature_wrap > img {
    max-width: 100%; }
  @media only screen and (min-width: 75em) {
    .feature_wrap {
      padding: 40px 100px 100px; } }

.feature_desc {
  margin-bottom: 40px; }
  @media only screen and (min-width: 75em) {
    .feature_desc {
      width: 500px;
      margin: 0 auto 60px; } }

.all_features-wrap > .content {
  background: transparent; }
.all_features-wrap h4 {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: normal; }

/* =============================================================================
   SIGNUP
   ========================================================================== */
.signup_form-wrap {
  padding-top: 84px; }

/* =============================================================================
   CONTACT
   ========================================================================== */
.contact_wrap > .content {
  background: #f3f5f6;
  padding: 80px 0; }
  @media only screen and (min-width: 75em) {
    .contact_wrap > .content {
      width: 1220px; } }

.contact_med {
  display: inline-block;
  margin-bottom: 40px;
  vertical-align: top;
  		/*
  @include MQ(M) {
  			&:nth-child(2n+1) {
  				border-right-width: 1px;
  			}
  		}
  		@include MQ(L) {
  			border-bottom-color: $bordercolorlight;
  			&:nth-child(2) {
  				border-right-width: 1px;
  			}
  		}
  */ }
  .contact_med a {
    display: block;
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 80px;
    width: 240px;
    color: #8a8cae; }
    .contact_med a:hover {
      text-decoration: none; }
      .contact_med a:hover b {
        text-decoration: underline;
        border-bottom: 0; }
  .contact_med b {
    color: #4c58f4;
    padding-bottom: 3px; }
  .contact_med:last-child {
    border-bottom-width: 1px; }
  @media only screen and (min-width: 75em) {
    .contact_med {
      margin-bottom: 0; } }

.tw_med a {
  background-image: url(../i/tw-contact.png); }

.fb_med a {
  background-image: url(../i/fb-contact.png); }

.co_med a {
  background-image: url(../i/co-contact.png); }

.te_med a {
  background-image: url(../i/te-contact.png); }

.em_med a {
  background-image: url(../i/em-contact.png); }

.loc_wrap {
  display: none; }
  @media only screen and (min-width: 75em) {
    .loc_wrap {
      width: 1200px;
      margin: 0 auto;
      display: block; }
      .loc_wrap > .content {
        border: 1px solid #d8d9e5;
        border-width: 0 0 1px 0; } }

.offices_loc {
  margin: 1em 6em 0;
  position: relative; }
  @media only screen and (min-width: 47em) {
    .offices_loc {
      margin: 2em 0 0; } }

.loc_item {
  display: inline; }
  @media only screen and (min-width: 47em) {
    .loc_item.is_shown {
      display: inline; } }
  @media only screen and (min-width: 75em) {
    .loc_item {
      position: absolute;
      top: 0px;
      left: 0px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all, 0.5s;
      -moz-transition: all, 0.5s;
      transition: all, 0.5s;
      background-color: rgba(32, 39, 89, 0.9);
      padding: 30px 0 30px 40px;
      width: 220px;
      opacity: 0;
      top: 0; }
      .loc_item.is_shown {
        opacity: 1;
        display: block; }
      .loc_item:before {
        position: absolute;
        top: 0px;
        right: 0px;
        content: ""; }
      .loc_item:after {
        position: absolute;
        border-width: 20px 20px 0 0;
        border-style: solid;
        border-color: rgba(32, 39, 89, 0.9) transparent transparent;
        content: ""; }
      .loc_item.ny_loc {
        left: 380px;
        top: 175px; }
        .loc_item.ny_loc.is_shown {
          top: 200px; }
        .loc_item.ny_loc:after {
          bottom: -20px;
          left: 0; }
      .loc_item.ch_loc {
        top: 130px;
        left: 103px; }
        .loc_item.ch_loc.is_shown {
          top: 165px; }
        .loc_item.ch_loc:after {
          right: 0;
          bottom: -20px;
          border-width: 20px 0 0 20px; }
      .loc_item.sf_loc {
        top: 450px;
        left: 210px;
        width: 260px; }
        .loc_item.sf_loc.is_shown {
          top: 425px; }
        .loc_item.sf_loc:after {
          top: -20px;
          left: 0;
          border-width: 0 20px 20px 0;
          border-color: transparent transparent rgba(32, 39, 89, 0.9); }
      .loc_item.cn_loc {
        left: 810px;
        top: 245px; }
        .loc_item.cn_loc.is_shown {
          top: 280px; }
        .loc_item.cn_loc:after {
          bottom: -20px;
          left: 0; } }

.vcard {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.4;
  border: 1px solid #e6e6e6;
  border-width: 0 0 1px 0;
  padding: 2em 0; }
  .vcard > h3 {
    font-style: normal; }
  @media only screen and (min-width: 47em) {
    .vcard {
      margin: 1em;
      display: inline-block;
      width: 180px; } }
  @media only screen and (min-width: 75em) {
    .vcard {
      color: white;
      margin: 0;
      border: 0;
      padding: 0; }
      .vcard h3 {
        color: white;
        margin-bottom: .25em; } }

/* =============================================================================
   PRODUCT
   ========================================================================== */
.features_pg .stage-sec {
  padding: 10px; }
  .features_pg .stage-sec > .content {
    background: #098ED6;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px; }
.features_pg .intro {
  margin-top: 0; }

/* =============================================================================
   BLOG
   ========================================================================== */